{%extends 'base.html'%}

{% block content%}
<h1 style="text-align:center;">FORM</h1>
<table border="1" cellpadding="15px"  align="center" bgcolor='red'>
<form action="sub">
  <div class="div1"> <p style="font-family:Times New Roman";><h1>Untitled form</h1></p>
    <p>
    <h4>9eye.in Store Details  (Form No-901)
    TIE UP FORM</h4>
    </p>
    <p>
    <h4>The name and photo associated with google account will be 
    recorded when you upload file and submit this form.
    </h4> 
    </pre>
    </div>
    <br>
    <form>
    <div class="div2"><label><p style="font-family:Times New Roman;">Clinic/Store/Hospital name</p></label>
     <input type="text" name="org">
    </div>
    <br>
    <div class="div2">
    <label> <p style="font-family:Times New Roman;">Front/Inside picture</p></label>
    <input type="file" name="pic">
    </div>
    <br>
    <div class="div2">
    <label> <p style="font-family:Times New Roman;"> Business card image</label><br>
    <br>
    <input type="file" name="pic">
    </div>
    <input type="submit" value="Submit">
    </form>
    



</form>




</table>
{%endblock%}